<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">

<body>
<header th:replace="~{fragments::topbar}">
</header>




<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/index}" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>

</main>
<div class="mb-5">

    <div th:if = "${errorMessage}">
        <p class = "alert alert-danger" th:text = "${errorMessage}"></p>
    </div>
</div>
<div class="mb-5">

    <div th:if = "${text}">
        <p class = "alert alert-danger" th:text = "${text}"></p>
    </div>
</div>


                <section class="mt-50 mb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <div th:if="${check}" style="display: flex; flex-direction: column; align-items: center;">
                                                        <p class="text-center"  th:text="${check}"></p>
                                                        <a  th:href="@{/shop-list-right}"><button class="btn btn-primary">Continue Shopping</button></a>
                                                    </div>
                                                    <div class="mb-10"><a  th:href="@{/shop-list-right}"><button class="btn btn-primary">Continue Shopping</button></a></div>
                                                    <table class="table shopping-summery text-center clean" th:if="${grandTotal}">
                                                        <thead>
                                                        <tr class="main-heading">
                                                            <th scope="col">Image</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Subtotal</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="cartItem :  ${shoppingCart.cartItems}">
                                                            <td >
                                                                <img th:src="@{${'/imgs/image-product/' + cartItem.product.imageUrls[0]}}" alt="">
                                                            </td>

                                                            <td class="product-des product-name">
                                                                <a th:href="@{/product-full/{id}(id = ${cartItem.product.id})}">
                                                                    <h5 class="product-name" th:text="${cartItem.product.name}"></h5>
                                                                </a>
<!--                                                                <h5 th:text="'Size : ' + ${cartItem.quantity}"></h5>-->
                                                            </td>

                                                            <td class="price" data-title="Price">
                                                                <p th:unless="${cartItem.product.salePrice > 0}" th:text="${cartItem.product.costPrice}"></p>
                                                                <p th:if="${cartItem.product.salePrice > 0}" th:text="${cartItem.product.salePrice}"></p>
                                                            </td>
                                                            <form th:action="@{/update-cart}" method="post">
                                                                <input type = "hidden" name = "id" th:value = "${cartItem.product.id}" >
                                                                <input type = "hidden" name = "cart_item_id" th:value = "${cartItem.id}" >


                                                                <td class="quantity-box">
                                                                    <input type="number" name="quantity" th:value="${cartItem.quantity}" size="4" style="width: 4em;"
                                                                           value="1" min="1" step="1"
                                                                           class="c-input-text qty text">

<!--                                                                    <select id="product_categories" name="size" class="form-control w-auto" >-->
<!--                                                                        <option th:value = "null">-SELECT SIZE-</option>-->
<!--                                                                        <option th:each = "size : ${cartItem.product.sizes}"-->
<!--                                                                                th:value = "${size.id}"-->
<!--                                                                                th:text = "${size.name}">-->
<!--                                                                        </option>-->
<!--                                                                    </select>-->
                                                                </td>
                                                                <td class="total-pr">

                                                                    <p th:text="'₹' + ${cartItem.unitPrice * cartItem.quantity}"></p>
                                                                </td>
                                                                <td class="action" data-title="Remove">
                                                                    <button type="submit" name="updateButton" th:value="${cartItem.product.id}" title="Update" class="btn btn-primary">Update</button>
                                                                    <button type="submit" name="deleteButton" th:value="${cartItem.product.id}" title="Delete" class="btn btn-danger">Delete</button>
                                                                </td>
                                                            </form>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row my-5" th:if = "${grandTotal}">
                                                <div class="col-lg-8 col-sm-12"></div>
                                                <div class="col-lg-4 col-sm-12">
                                                    <div class="order-box">
                                                        <h4>Order summary</h4>
                                                        <hr class="my-1">
                                                        <div class="d-flex">
                                                            <h5>Shipping Cost :  </h5>
                                                            <div class="ml-auto font-weight-bold"> Free</div>
                                                        </div>
                                                        <hr>
                                                        <div class="d-flex gr-total">
                                                            <h5>Grand Total :  </h5>
                                                            <div class="ml-auto h5" th:text="'₹' + ${grandTotal}"></div>
                                                        </div>
                                                        <hr>
                                                    </div>
                                                    <div class="col-12 d-flex shopping-box"><a  th:href="@{/shop-checkout}" class="ml-auto btn hvr-hover">Checkout</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                </section>





<!--                                <div>-->
<!--                                    <form th:action="@{/update-cart}" method="post">-->
<!--                                        <div class="table-responsive">-->
<!--                                            <table class="table shopping-summery text-center clean">-->
<!--                                                <thead>-->
<!--                                                <tr class="main-heading">-->
<!--                                                    <th scope="col">Image</th>-->
<!--                                                    <th scope="col">Name</th>-->
<!--                                                    <th scope="col">Price</th>-->
<!--                                                    <th scope="col">Quantity</th>-->
<!--                                                    <th scope="col">Subtotal</th>-->
<!--                                                    <th scope="col">Remove</th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody>-->

<!--                                                <tr  th:each="cartItem : ${shoppingCart.cartItems}">-->

<!--                                                        <td class="image product-thumbnail">-->
<!--                                                            <img th:src="@{${'/imgs/image-product/' + cartItem.product.imageUrls[0]}}" alt="">-->
<!--                                                        </td>-->
<!--                                                        <td class="product-des product-name">-->
<!--                                                            <h5 th:text="${cartItem.product.name}"></h5>-->
<!--                                                        </td>-->
<!--                                                        <td class="price" data-title="Price">-->
<!--                                                            <span th:text="${cartItem.product.costPrice}">Rs.</span>-->
<!--                                                        </td>-->
<!--                                                        <td class="text-center">-->
<!--                                                            <input type="number" name="quantity" th:value="${cartItem.quantity}" size="3" style="width: 4em;"-->
<!--                                                                   value="1" min="1" step="1"-->
<!--                                                                   class="c-input-text qty text">-->
<!--            &lt;!&ndash;                                                &ndash;&gt;-->
<!--            &lt;!&ndash;                                                    <a  class="qty-down"  ><i class="fi-rs-angle-small-down"></i></a>&ndash;&gt;-->
<!--            &lt;!&ndash;                                                    <span class="qty-val" th:text="${cartItem.quantity}" ></span>&ndash;&gt;-->
<!--            &lt;!&ndash;                                                    <a  class="qty-up" ><i class="fi-rs-angle-small-up"></i></a>&ndash;&gt;-->
<!--                                                        </td>-->
<!--                                                        <td class="text-right" data-title="Cart">-->
<!--                                                            <p>Rs. <span th:text="${cartItem.quantity*cartItem.product.costPrice}"></span></p>-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            <form th:action="@{/delete-cart}" method="post">-->
<!--                                                                <input type="hidden" th:value="${cartItem.product.id}" name="id" />-->
<!--                                                                <button style="padding: 0;" type="submit" class="btn-link text-muted" name="removeItem">-->
<!--                                                                    <i class="fi-rs-trash"></i>-->
<!--                                                                </button>-->
<!--                                                            </form>-->
<!--                                                        </td>-->

<!--                                                </tr>-->
<!--                                                </tbody>-->


<!--                                            </table>-->
<!--                                        </div>-->
<!--                                    <button type="submit" name="updateItem" class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</button>-->
<!--                                </form>-->
<!--                                </div>-->



<!--                                <div class="cart-action text-end" >-->
<!--&lt;!&ndash;                                    <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>&ndash;&gt;-->

<!--                                    <a class="btn" th:href="@{/shop-list-right}"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>-->
<!--                                </div>-->
<!--                                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>-->
<!--                                <div class="row mb-50">-->
<!--                                    <div class="col-lg-6 col-md-12">-->
<!--                                        <div class="heading_s1 mb-3">-->
<!--                                            <h4>Calculate Shipping</h4>-->
<!--                                        </div>-->
<!--                                        <p class="mt-15 mb-30">Flat rate: <span class="font-xl text-brand fw-900">5%</span></p>-->
<!--                                        <form class="field_form shipping_calculator">-->
<!--                                            <div class="form-row">-->
<!--                                                <div class="form-group col-lg-12">-->
<!--                                                    <div class="custom_select">-->
<!--                                                        <select class="form-control select-active">-->
<!--                                                            <option value="">Choose a option...</option>-->
<!--                                                            <option value="AX">Aland Islands</option>-->
<!--                                                            <option value="AF">Afghanistan</option>-->

<!--                                                        </select>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="form-row row">-->
<!--                                                <div class="form-group col-lg-6">-->
<!--                                                    <input required="required" placeholder="State / Country" name="name" type="text">-->
<!--                                                </div>-->
<!--                                                <div class="form-group col-lg-6">-->
<!--                                                    <input required="required" placeholder="PostCode / ZIP" name="name" type="text">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="form-row">-->
<!--                                                <div class="form-group col-lg-12">-->
<!--                                                    <button class="btn  btn-sm"><i class="fi-rs-shuffle mr-10"></i>Update</button>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                        <div class="mb-30 mt-50">-->
<!--                                            <div class="heading_s1 mb-3">-->
<!--                                                <h4>Apply Coupon</h4>-->
<!--                                            </div>-->
<!--                                            <div class="total-amount">-->
<!--                                                <div class="left">-->
<!--                                                    <div class="coupon">-->
<!--                                                        <form action="#" target="_blank">-->
<!--                                                            <div class="form-row row justify-content-center">-->
<!--                                                                <div class="form-group col-lg-6">-->
<!--                                                                    <input class="font-medium" name="Coupon" placeholder="Enter Your Coupon">-->
<!--                                                                </div>-->
<!--                                                                <div class="form-group col-lg-6">-->
<!--                                                                    <button class="btn  btn-sm"><i class="fi-rs-label mr-10"></i>Apply</button>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </form>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-6 col-md-12">-->
<!--                                        <div class="border p-md-4 p-30 border-radius cart-totals">-->
<!--                                            <div class="heading_s1 mb-3">-->
<!--                                                <h4>Cart Totals</h4>-->
<!--                                            </div>-->
<!--                                            <div class="table-responsive">-->
<!--                                                <table class="table">-->
<!--                                                    <tbody>-->
<!--                                                    <tr>-->
<!--                                                        <td class="cart_total_label">Cart Subtotal</td>-->
<!--                                                        <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">$240.00</span></td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td class="cart_total_label">Shipping</td>-->
<!--                                                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td class="cart_total_label">Total</td>-->
<!--                                                        <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">$240.00</span></strong></td>-->
<!--                                                    </tr>-->
<!--                                                    </tbody>-->
<!--                                                </table>-->
<!--                                            </div>-->
<!--                                            <a href="#" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->



    <div th:replace="~{fragments::footer}"></div>




<!-- Vendor JS-->
<div th:replace="~{fragments::script}"></div>

<!-- Template  JS -->
<script th:src="@{js/main.js?v=3.4}"></script>
<script th:src="@{js/shop.js?v=3.4}"></script>
</body>
</html>











